html{
    box-sizing: border-box;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}
*, *:after, *:before{
    box-sizing: inherit;
}
body, h1, ul, ol{
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: inherit;
}
.section-header{
    background-color: #445162;
    /* max-height: 323px; */
    color: #ffffff;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
}
.container{
    max-width:1140px;
    width: 100%;
    padding: 1.5625em;
    margin: 0 auto;
}
.section-inner{
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-between;
}
.header__title{
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
    font-size: 3.75em;
    font-weight: 400;
}
.header__list{
    list-style: none;
    padding-left: 0;
}
.header__item{
    display: flex;
    margin-bottom: 1em;
}
.header__item:last-child{
    margin-bottom: 0;
}
.header__image{
    margin-right: .5em;
    max-width: 25px;
    width: 100%;
    max-height: 19px;
}
.header__advantage{
    font-size: 1.25em;
}
.header__right{
    max-width: 469px;
    width: 100%;
    max-height: 214px;
    padding-bottom: 1em;
}
.header__shape{
    width: 100%;
    height: auto;
    
}
.about__wrapper{
    padding-top: .625em;
    display: flex;
    justify-content: space-between;
}
.about__left-side{
    max-width: 653px;
    width: 100%;
    margin-right: 2em;
}
.about__title{
    font-size: 1.875em;
    font-weight: 400;
    color: #445161;
}
.about__description{
    line-height: 1.5em;
}
.about__image{
    max-width: 430px;
    width: 100%;
    max-height: 245px;
}
.advantages{
    background-color: #f5f5f5;
}
.title{
    color: #445161;
    font-size: 1.875em;
    font-weight: 400;
    line-height: 2.25em;
}
.advantages__title{
    text-align: center;
}
.advantages__list{
    display: flex;
    list-style: none;
}
.advantages__left-side{
    margin-right: 1em;
}
.advantages__text{
    padding-left: 2.93em;
    position: relative;
    line-height: 1em;
}
.advantages__item{
    padding-bottom: 2.185em;
}
.advantages__text::before{
    content: "";
    width: 32px;
    height: 32px;
    background-image: url('./img/3-layers.png');
    position: absolute;
    left: 0;
}
.scrinshots__title{
    text-align: center;
}
.scrinshots__list{
    list-style: none;
    display: flex;
}
.scrinshots__left-side{
    margin-right: 1em;
}
.scrinshots__item{
    display: flex;
    margin-bottom: 1.625em;
}
.scrinshots__image{
    padding-right:1em;
}
.scrionshots__item-title{
    color: #445161;
    font-size: 1.5em;
}
.scrinshpts__item-text{
    color: #333333;
    line-height: 1.5em;
}
.scrinshots__image{
    max-width: 200px;
    width: 100%;
    max-height: 150px;
}
.reviews{
    background-color: #f5f5f5;
}
.reviews__title{
    text-align: center;
}
.reviews__list{
    display: flex;
}
.reviews__left-side{
    margin-right: 1.875em;
}
.reviews__left-side, .reviews__right-side{
    display: flex;
    flex-direction: column;
    
}
.reviews__item{
    margin-bottom: 1.625em;
}
.reviews__image{
    display: block;
    margin-right:2em;
}
.reviews__content{
    display: flex;
    flex-direction: column;
    padding:1em;
    margin-left: 1em;
    background-color: rgb(235, 235, 235);
    font-size: .875em;
    border-radius: .3125em;
    position: relative;
}
.reviews__image{
    float: left;
}
.reviews__text{
    font-style: italic;
    text-align: justify;
    margin: 0;
}
.reviews__content::before{
    content: '';
    position: absolute;
    top: 25%;
    left: -1.56em;
    border: 1em solid transparent;
    border-right: 1em solid rgb(235, 235, 235);
    z-index: 2;
}
.reviews__author{
    padding-top: 1em;
    color: rgb(152, 152, 152);
}
.prices__title{
    text-align: center;
}
.prices__list{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
}
.prices__item{
    background-color: #445162;
    padding: 1.0625em;
    color: #ffffff;
    border-radius: 0.3125em;
    max-width: 300px;
    width: 100%;
}
.prices__item-title{
    text-align: center;
    font-size: 1.5em;
    padding-bottom: 0.75em;
}
.prices__item-price{
    padding: initial;
    background-color: #ffffff;
    color: #445162;
    font-size: 2.5em;
    text-align: center;
    padding: 0.2em 0;
    
}
.prices__item-description{
    margin: 0;
    padding: 1.0625em;
}
.prices__item-text{
    font-size: .875em;
}
.prices__item-text + .prices__item-text{
    line-height: 1.5em;
}
.prices__button{
    background-color: #ffffff;
    color: #445162;
    display: block;
    text-align: center;
    padding: .77778em 0;
}
.btn{
    font-size: 1.125em;
    text-transform: uppercase;
    border-radius: 0.25em;
}
.contacts{
    background-color: #445162;
    
}
.contacts__title{
    text-align:center;
    color: #fff;
}
.contacts__inner{
    max-width: 790px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.contacts__left-side{
    max-width: 500px;
    width: 100%;
    margin-left: 1.5em;
}
.contacts__form{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    
}

.contacts__name,
.contacts__email,
.contacts__message{
    margin-bottom: 1.125em;
    border-radius: .1875em;
    padding:.875em;
    border:none;
    outline: none;
}
.contacts__send{
    border: none;
    outline: none;
    padding:.875em 2.9375em;
    color: #445162;
    align-self: center;
}
.contacts__right-side{
    color: #ecedee;
    margin-left: 2em;
}
.contacts__link{
    display: flex;
    margin-bottom: 1em;
    align-items:center;
}
.contacts__image{
    margin-right: .3125em;
}
.contacts__social-links{
    margin-top: 1.875em;
    display: block;
}
.footer__text{
    text-align: center;
    color: #445162;
    font-size: .75em;
}













@media (min-width:992px) and (max-width:1200px){
    html{
        font-size: 13px;
    }
    .header__left{
        margin-right: 1em;
    }
    .header__image{
        height: 100%;
        width: auto;
    }
    .about__left-side{
        margin-right: 0;
    }
    .about__video{
        width: 100%;
        height: auto;
    }
    .scrinshots__image{
        width: 100%;
        height: auto;
    }
    .scrinshots__list{
        flex-wrap: wrap;
        font-size: 1.5em;
    }
    .scrinshots__left-side{
        margin-left: 0;
    }
    
}

@media (min-width:576px)  and (max-width: 992px){
    html{
        font-size: 14px;
    }
    .section-inner{
        flex-wrap: wrap;
        justify-content: center;
    }
    .header__left{
        margin-right: 2em;
    }
    .about__title{
        text-align: center;
    }
    .about__description{
        text-align: justify;
    }
    .about__wrapper{
        flex-wrap: wrap;
        justify-content: center;
    }
    .about__left-side{
        margin-right: 0;
    }
    .about__video{
        width: 100%;
        height: auto;
    }
    .advantages__item{
        text-align: justify;
    }
    .scrinshots__image{
        width: 100%;
        height: auto;
    }
    .scrinshots__list{
        flex-wrap: wrap;
        font-size: 1em;
    }
    .scrinshots__left-side{
        margin-left: 0;
    }
    .reviews__list{
        flex-wrap: wrap;
    }
    .reviews__left-side{
        margin-right: 0;
    }
    .prices__list{
        flex-wrap: wrap;
        align-items: center;
        justify-content: baseline;
        /* flex-direction: column; */
    }
    .prices__item{
        margin-bottom: 2em;
    }
    .contacts__inner{
        flex-wrap: wrap;
        justify-content: center;
        
    }
    .contacts__left-side{
        margin-left: 0;
    }
    .contacts__right-side{
        margin-top: 2em;
    }
    .contacts__link{
        justify-content: flex-start;
    }
    .contacts__social-links{
        margin-right: 0;
        text-align: center;
    }
    /* .contacts__right-side{
        margin-left: 0;
    } */

}


@media (min-width:320px) and (max-width:576px){
    html{
        font-size: 12px;
    }
    .section-inner{
        flex-wrap: wrap;
        justify-content: center;
    }
    .about__title{
        text-align: center;
    }
    .about__wrapper{
        flex-wrap: wrap;
        justify-content: center;
    }
    .about__left-side{
        margin-right: 0;
    }
    .about__video{
        width: 100%;
        height: auto;
    }
    .advantages__list{
        flex-direction: column;
    }
    .advantages__item{
        text-align: justify;
    }
    .scrinshots__list{
        flex-wrap: wrap;
        /* font-size: 1em; */
    }
    .scrinshots__left-side{
        margin-left: 0;
    }
    .scrinshots__item{
        flex-wrap: wrap;
        justify-content: center;
    }
    .scrionshots__item-title{
        padding-top: .5em;
        text-align: center;
    }
    .scrinshots__item-text{
        text-align: justify;
    }
    .scrinshots__image{
        padding-right:0;
    }
    .reviews__list{
        flex-wrap: wrap;
    }
    .reviews__left-side{
        margin-right: 0;
    }
    .prices__list{
        flex-direction: column;
        align-items: center;
    }
    .prices__item{
        margin-bottom: 2em;
    }
    .contacts__inner{
        flex-wrap: wrap;
        justify-content: center;
        
    }
    .contacts__left-side{
        margin-left: 0;
    }
    .contacts__right-side{
        margin-top: 2em;
    }
    .contacts__link{
        justify-content: center;
    }
    .contacts__social-links{
        margin-right: 0;
        text-align: center;
    }
    .contacts__right-side{
        margin-left: 0;
    }
}
